attrs==24.2.0
Automat==24.8.1
constantly==23.10.4
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
scapy==2.6.1
scapy-http==1.8.2
setuptools==75.5.0
Twisted==24.10.0
typing_extensions==4.12.2
wheel==0.45.0
zope.interface==7.1.1
